.vs/
obj/
bin/
*.user
/HUDLayoutHelper/images/HUDLayoutIcon.png
/HUDLayoutHelper/images/HUDLayoutIcon2.png
/HUDLayoutHelper/images/icon.png
/HUDLayoutHelper/images/icon2.png
/HUDLayoutHelper/images/icon3.png
